grant codebase "file:${test.classes}/*" {
    permission java.security.AllPermission;
};
grant codebase "file:${test.classes}/../../../../test/lib/-" {
    permission java.security.AllPermission;
};
